{% extends 'user/profile-picture-section.html.twig' %}

{% block profile_content %}
    <div class="profile-content-aside-menus">
        <aside class="intro">
            <h3>Intro</h3>
            <div class="actions">
                <div class="action">Add Bio</div>
                <div class="action">Add Details</div>
            </div>
        </aside>

        <aside class="friends">
            <div class="header">
                <h3><a href="">Friends</a></h3>
                <a href="#">See all Friends</a>
            </div>
            <div class="friends-number">0 friends</div>

            <div class="friends-list">
                <div class="friend">
                    <img src="{{ asset('images/profile_pic.jpg') }}" alt="profile-pic">
                    <span>{{ user.username }}</span>
                </div>
                <div class="friend">
                    <img src="{{ asset('images/profile_pic.jpg') }}" alt="profile-pic">
                    <span>{{ user.username }}</span>
                </div>
                <div class="friend">
                    <img src="{{ asset('images/profile_pic.jpg') }}" alt="profile-pic">
                    <span>{{ user.username }}</span>
                </div>
                <div class="friend">
                    <img src="{{ asset('images/profile_pic.jpg') }}" alt="profile-pic">
                    <span>{{ user.username }}</span>
                </div>
                <div class="friend">
                    <img src="{{ asset('images/profile_pic.jpg') }}" alt="profile-pic">
                    <span>{{ user.username }}</span>
                </div>
                <div class="friend">
                    <img src="{{ asset('images/profile_pic.jpg') }}" alt="profile-pic">
                    <span>{{ user.username }}</span>
                </div>
                <div class="friend">
                    <img src="{{ asset('images/profile_pic.jpg') }}" alt="profile-pic">
                    <span>{{ user.username }}</span>
                </div>
                <div class="friend">
                    <img src="{{ asset('images/profile_pic.jpg') }}" alt="profile-pic">
                    <span>{{ user.username }}</span>
                </div>
                <div class="friend">
                    <img src="{{ asset('images/profile_pic.jpg') }}" alt="profile-pic">
                    <span>{{ user.username }}</span>
                </div>
            </div>
        </aside>
    </div>

    <div class="profile-main-content">
        {% include "base/_upload_posts_section.html.twig" %}

        <div class="posts">
            {% include "base/_display_posts.html.twig" with {
                onHomePage: true
            } %}
        </div>
    </div>
{% endblock %}


