{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Profile{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('main') }}
    {{ encore_entry_link_tags('posts') }}
    {{ encore_entry_link_tags('profile') }}
{#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.2/cropper.min.css" integrity="sha512-UtLOu9C7NuThQhuXXrGwx9Jb/z9zPQJctuAgNUBK3Z6kkSYT9wJ+2+dh6klS+TDBCV9kNPBbAxbVD+vCcfGPaA==" crossorigin="anonymous" referrerpolicy="no-referrer" />#}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('main') }}
    {{ encore_entry_script_tags('posts') }}
    {{ encore_entry_script_tags('comments') }}
    {{ encore_entry_script_tags('profile') }}
{% endblock %}

{% if uploadAvatarForm is not null %}
    {% form_theme uploadAvatarForm 'bootstrap_5_layout.html.twig' %}
{% endif %}

{% block body %}

    {% include 'base/_main_header.html.twig' with { 'user': app.user } %}

    {% include "base/_flash_messages.html.twig" %}

    <div class="profile-section">
        {% block profile_section %}
            <div class="profile-picture-section">

                <style>
                    .icon-block {
                        &:not(.home-icon) {
                            border-radius: 10px;

                            &:hover {
                                background: var(--principal-background);
                            }
                        }

                        &.home-icon {
                            border-bottom: 5px solid var(--principal-color);

                            & svg > path {
                                fill: var(--principal-color) !important;
                            }
                        }
                    }

                    .cover-photo {
                        background-size: 110% !important;

                    {% if user.coverPhoto is not null %}
                        background: url('{{ asset("uploads/users/cover-photos/" ~ user.coverPhoto) }}') no-repeat center;
                    {% else %}
                        background: var(--principal-background) no-repeat center;
                    {% endif %}

                        &:hover {
                            filter: brightness(90%);
                            cursor: pointer;
                        }
                    }
                </style>
                <div class="cover-photo">
                    <div class="cover-photo-button-container">
                        {% if user == app.user %}
                            <div class="cover-photo-button">
                                <twig:ux:icon name="f7:camera-fill" />
                                <span>Edit cover photo</span>
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="profile-picture-container">
                    <div class="profile-picture-infos">
                        <div class="profile-image-block">
                            <div class="image-container">
                                {% set profilePicture = "" %}
                                {% if user.profilePicture is not null %}
                                    {% set profilePicture = asset("uploads/users/profile-pictures/" ~ user.profilePicture) %}
                                {% else %}
                                    {% set profilePicture = asset("images/" ~ user.gender|lower ~ "_icon.jpg") %}
                                {% endif %}
                                <img src="{{ profilePicture }}" alt="profile-picture">
                            </div>
                            {% if user == app.user %}
                                <div class="profile-image-block-button">
                                    <twig:ux:icon name="f7:camera-fill" />
                                </div>
                            {% else  %}
                                <style>
                                    .profile-infos {
                                        margin-left: 0 !important;
                                    }
                                </style>
                            {% endif %}
                        </div>

                        <div class="profile-infos">
                            <span class="user-username">{{ user.username }}</span>
                            <span class="friends-number">0 friends</span>
                            <div class="friends-area"></div>
                        </div>
                    </div>

                    <div class="profile-actions">
                        {% if user == app.user %}
                            <a href="" class="button">
                                <twig:ux:icon name="ic:baseline-plus" />
                                <span>Add to story</span>
                            </a>
                            <a href="" class="button">
                                <twig:ux:icon name="mingcute:edit-line" class="main-menu-icon" />
                                <span>Edit profile</span>
                            </a>
                        {% else %}
                            <a href="" class="button">
                                <twig:ux:icon name="ic:sharp-person-add" />
                                <span>Add Friend</span>
                            </a>
                            <a href="" class="button">
                                <twig:ux:icon name="mdi:flask" />
                                <span>Message</span>
                            </a>
                        {% endif %}
                    </div>
                </div>

                <div class="profile-nav-bar">
                    <div class="profile-nav-bar-actions">
                        <div class="profile-nav-bar-action">
                            <span>Posts</span>
                        </div>
                        <div class="profile-nav-bar-action about">
                            <span>About</span>
                        </div>
                        <div class="profile-nav-bar-action friends">
                            <span>Friends</span>
                        </div>
                        <div class="profile-nav-bar-action reels">
                            <span>Reels</span>
                        </div>
                        <div class="profile-nav-bar-action likes">
                            <span>Likes</span>
                        </div>
                        <div class="profile-nav-bar-dropdown">
                            <div class="profile-nav-bar-dropdown-trigger" role="button">
                                <span>More</span>
                                <twig:ux:icon class="chevron-down" name="heroicons-solid:chevron-down" />
                                <twig:ux:icon class="chevron-up" name="heroicons-solid:chevron-up" />
                            </div>
                            <div class="profile-nav-bar-dropdown-menu">
                                <div class="profile-nav-bar-action">
                                    <span>Groups</span>
                                </div>
                                <div class="profile-nav-bar-action about">
                                    <span>About</span>
                                </div>
                                <div class="profile-nav-bar-action friends">
                                    <span>Friends</span>
                                </div>
                                <div class="profile-nav-bar-action">
                                    <span>Reels</span>
                                </div>
                                <div class="profile-nav-bar-action">
                                    <span>Likes</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="supplementary-actions-button">
                        <twig:ux:icon name="tabler:dots" />
                    </div>
                </div>
            </div>

            <div class="profile-options-container-block">
                <div class="profile-options-container">
                    <div class="profile-options-container-header">
                        <h2>Options</h2>
                        <div class="profile-options-container-close">
                            <twig:ux:icon name="material-symbols:close" />
                        </div>
                    </div>

                    <div class="profile-options">
                        <div class="profile-option">
                            <twig:ux:icon name="hugeicons:view" />
                            <span>View as</span>
                        </div>
                        <div class="profile-option">
                            <twig:ux:icon name="material-symbols:search" />
                            <span>Search</span>
                        </div>
                        <div class="profile-option">
                            <twig:ux:icon name="grommet-icons:status-good" />
                            <span>Profile Status</span>
                        </div>
                        <div class="profile-option">
                            <twig:ux:icon name="mdi:archive-clock-outline" />
                            <span>Story Archive</span>
                        </div>
                        <div class="profile-option">
                            <twig:ux:icon name="ri:user-settings-fill" />
                            <span>Profile Settings</span>
                        </div>
                        <div class="profile-option">
                            <twig:ux:icon name="tabler:activity" />
                            <span>Activity Log</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="profile-content">
                {% block profile_content %}
                {% endblock %}
            </div>
        {% endblock %}
    </div>

    {% if uploadAvatarForm is not null %}
        <twig:UploadImageForm id="profile-picture-form" form="{{ uploadAvatarForm }}" type="profile-picture" />
    {% endif %}

    {% if uploadCoverForm is not null %}
        <twig:UploadImageForm id="cover-photo-form" form="{{ uploadCoverForm }}" type="cover-photo" />
    {% endif %}

    {% if cropForm is not null %}
        <div class="crop-avatar-form-container">
            <div class="crop-avatar-form-block">
                <div class="crop-avatar-container-header">
                    <h2>Adjust your profile picture</h2>
                    <div class="crop-avatar-container-close">
                        <twig:ux:icon name="material-symbols:close" />
                    </div>
                </div>
                <div class="crop-avatar-form">
                    {{ form_start(cropForm) }}
                    <div class="row">
                        <div class="col-9">{{ form_widget(cropForm) }}</div>
                        <div class="col-3">
                            <div id="cropper-preview" style="overflow: hidden;width: 200px;height: 200px;"></div>
                        </div>
                    </div>
                    <button type="submit" class="button mt-5" style="width: 100%;">Crop it!</button>
                    {{ form_end(cropForm) }}
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}